.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-panel, .results-panel {
  width: 45%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.form-group.full-width {
  flex-direction: column;
}

.form-group.half-width {
  width: 48%;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.form-group input,
.form-group select {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="number"] {
  max-width: 100%;
}

.list-item {
  position: relative;
  padding-right: 50px; /* Ensure there's enough space for the button */
  background-color: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-text {
  flex-grow: 1; /* Allow the text to take up available space */
  margin-right: 10px; /* Add some space between the text and the button */
}

.delete-button {
  padding: 2.5px 5px; /* Adjusted padding to make it smaller */
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  font-size: 8px; /* Smaller font size */
  border-radius: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-button:hover {
  background-color: #21a1f1;
}

.results-panel ul {
  list-style-type: none;
  padding: 0;
}

.date-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.date-navigation button {
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 4px;
}

.date-navigation button:hover {
  background-color: #21a1f1;
}

.date-navigation .react-datepicker-wrapper {
  display: inline-block;
}

.date-navigation .react-datepicker__input-container {
  display: inline-block;
}

.date-navigation input {
  width: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

.totals {
  margin-top: 20px;
  font-weight: bold;
}

.form-group > .form-group {
  margin-right: 10px;
}